# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle iex'
      'command': 'iex:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'iex'
      'submenu': [

        {'label': 'Open Iex session in New Tab', 'command': 'iex:open'}

      ]
    ]
  }
]
